@import "tailwindcss";

/* Custom Scrollbar for the Product Container */
.custom-scrollbar::-webkit-scrollbar {
  width: 6px; /* Width of the track */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #a3a3a3; /* Gray track color */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #3fb4ff; /* Blue thumb color to match the bottom div */
  border-radius: 10px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #0ea5e9; /* Slightly darker blue on hover */
}